{% extends "image_app/base.html" %} {% block body_block %}
{% load static %}

<div class="container">
  <div class="jumbotron">
    <a href="{% url 'image_app:upload' %}" class="btn btn-warning fa fa-plus-square">Upload Image</a>
    <br>
    <br>
    <h3>Here are your Images</h3>
    {% for i in userimage %}
        <p><b>Title: {{i.title}}</b></p>
        <img src="{{i.pic.url}}" width="200" height="200">
        <p>Description: {{i.desc}}</p>
        <p>Location: {{i.location}}</p>
        <p>Date Uploaded{{i.date_uploaded}}</p>
        <p>Album Name: {{i.album_name}}</p>
        <p>Name of Album Owner: {{i.album_name.user_name}}</p>
        <a class='btn btn-warning' href="{% url 'image_app:update' pk=i.pk %}">Edit</a>
        <br>
        <br>
{% endfor %}
  </div>
</div>
{% endblock%}
