{% extends "image_app/base.html" %} {% block body_block %}
    <div class="jumbotron">
    {% if registered %}
        <h2>Thank you for registering</h2>
    {% else %}
        <h2>Register Here:</h2>
        <br>

        <form action ="{% url 'image_app:users'%}"  method="POST" enctype="multipart/form-data">
            <div class="form-group">
            {% csrf_token %}
            {{ user_from.as_p}}
            {{ profile_form.as_p }}
            <input type="submit" name="" value="Register">
            </div>
        </form>
    {% endif %}


</div>
{% endblock %}
